services:
  database:
    image: 'postgres:16'
    container_name: '${APP_NAME}_postgres'
    hostname: '${APP_NAME}_postgres'
    networks:
      - internal
    ports:
      - '127.0.0.1:${DB_PORT}:5433'
    environment:
      POSTGRES_USER: '${DB_USERNAME}'
      POSTGRES_PASSWORD: '${DB_PASSWORD}'
      POSTGRES_DB: '${DB_DATABASE}'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  nestjs:
    build:
      context: ./../
    container_name: '${APP_NAME}_nestjs'
    depends_on:
      - database
    networks:
      - internal
    volumes:
      - ./../:/usr/src/app
    ports:
      - '5000:3000'
    environment:
      DB_HOST: 'database'
      DB_PORT: '5432'
      DB_USERNAME: '${DB_USERNAME}'
      DB_PASSWORD: '${DB_PASSWORD}'
      DB_DATABASE: '${DB_DATABASE}'
      PORT: '3000'
      NODE_ENV: 'development'
      JWT_SECRET: '${JWT_SECRET}'
      JWT_EXPIRATION: '${JWT_EXPIRATION}'

  # nginx:
  #   image: nginx:1.20
  #   container_name: '${APP_NAME}_nginx'
  #   networks:
  #     - internal
  #   volumes:
  #     - ./nginx.conf:/etc/nginx/conf.d/default.conf
  #     - ./certs:/etc/nginx/certs
  #   ports:
  #     - '80:80'
  #     - '443:443'
  #   healthcheck:
  #     test: ["CMD", "wget", "-qO-", "http://nestjs:3000"]
  #     interval: 2s
  #     timeout: 60s
  #     retries: 30

volumes:
  postgres_data:

networks:
  internal:
